# De0 Nano OpenOCD config for simulation
# These files should be in {openocd_prefix}/share/openocd/scripts/
source [find interface/jtag_vpi.cfg]

# Use VJTAG_VPI mohor opencores jtag
set TAP_TYPE VJTAG_VPI

source [find board/or1k_generic.cfg]
