#!/bin/bash

## For debug
# set -x
## Fail fast
# set -e

# Location of musl-cross-make. it will get enveryting else
BUILDDIR=$HOME/work/openrisc

MCMDIR=${BUILDDIR}/musl-cross-make
INSTALLDIR=${BUILDDIR}/local/or1k-musl

THREADS=$(nproc)

# Cross compile toolchain
#  - target (arch)-(vendor)-(os)-(abi)
#  - arch   - openrisc or1k
#  - vendor - smh for me
#  - os     - linux
#  - abi    - musl
CROSS=${CROSS:-or1k-smh-linux-musl}

# Optional for test notifications
MAILTO=${MAILTO:-shorne@gmail.com}
if [ "$NOTIFY" == 'n' ] ; then
  MAILTO=
fi

# Just run musl.build

