# Config for tests and build

# Location where you have the buildroot source
# - /buildroot        - buildroot repo
# - /buildroot-rootfs - output of buildroot rootfs
BUILDDIR=${BUILDDIR:-$HOME/work/openrisc}
BUILDROOT_SRC=${BUILDROOT_SRC:-$BUILDDIR/buildroot}

if [ ! -d $BUILDROOT_SRC ]; then
  echo "ERROR: Missing source dir for: $BUILDROOT_SRC"
  echo "Make sure you have git cloned and tarbals extracted for:"
  echo "  buildroot:  $BUILDROOT_SRC"
  exit 1
fi
