{
  "boot.bin": "0x00000000",
  "__rootfs__": "__rootfs_offset__",
  "litex-mor1kx.dtb": "__dtb_offset__",
  "bootargs": {
    "r1":             "__dtb_offset__",
    "r2":             "0x00000000",
    "r3":             "0x00000000",
    "addr":           "0x00000000"
  }
}
