# Config for tests and build

# Location where you have the busybox source
# - /busybox        - busybox repo
# - /busybox-rootfs - output of busybox rootfst
BUILDDIR=${BUILDDIR:-$HOME/work/openrisc}
BUSYBOX_SRC=${BUSYBOX_SRC:-$BUILDDIR/busybox}
CROSSTOOL=${CROSSTOOL:-or1k-buildroot-linux-musl-}

if [ ! -d $BUSYBOX_SRC ]; then
  echo "ERROR: Missing source dir for: $BUSYBOX_SRC"
  echo "Make sure you have git cloned and tarbals extracted for:"
  echo "  busybox:  $BUSYBOX_SRC"
  exit 1
fi

# Location of your libc (if you want dynamic executables)
LIBC=${LIBC:-$HOME/work/openrisc/musl-cross-make/output/or1k-smh-linux-musl/lib}
